client
dev tun
proto udp
resolv-retry infinite
nobind
persist-key
persist-tun
comp-lzo adaptive
tls-auth ta.key 1
tls-version-min 1.2
cipher AES-256-CBC
auth SHA512
tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-128-GCM-SHA256:TLS-DHE-RSA-WITH-AES-256-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-256-CBC-SHA:TLS-DHE-RSA-WITH-AES-128-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-128-CBC-SHA
remote {{ domain }} {{ port }}
route-delay
reneg-sec 0
redirect-gateway
script-security 2
auth-user-pass
auth-nocache
verb 3
#auth-user-pass auth.txt
user openvpn
group openvpn
<ca>
{{ ca_yunohost }}
</ca>
